doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if user
      p
        |Hello #{user.displayNameYo}
        ||
        a(href="/logout") Logout
    else
      p
        a(href="/auth/linkedin") Login With linkedin
        a(href="/auth/google") Login With the googs
    block content